*
!/.gitignore
!/go.mod
!/go.sum
!/main.go
!/responser
!/responser/responser.go
!/parser
!/parser/config.go
!/commands
!/commands/commands.go
!/server
!/server/*
!/deployer-config.sample
!deployer
!/test_data
!/test_data/*
